
Integradora/.vs/Integradora/FileContentIndex/58d245c0-8e84-48af-8899-0ed148bf74e7.vsidx
Integradora/.vs/Integradora/FileContentIndex/58d245c0-8e84-48af-8899-0ed148bf74e7.vsidx
Integradora/.vs/Integradora/FileContentIndex/7b6a40b0-eab4-4d7e-be5c-b680cbf01be7.vsidx
Integradora/.vs/Integradora/FileContentIndex/923508f2-a843-43f7-9560-324bf92f7ca6.vsidx
Integradora/.vs/Integradora/FileContentIndex/a9cf0bb2-a57f-4f0d-b41b-8834a1443688.vsidx
Integradora/.vs/Integradora/FileContentIndex/de5f1a4c-1318-4d06-ac47-6d1df683453c.vsidx
Integradora/.vs/Integradora/FileContentIndex/f34abab0-9042-42b0-9405-11ffc11cda40.vsidx
Integradora/.vs/Integradora/FileContentIndex/7e0ec19b-470e-4129-8a81-8ced1cb9afa7.vsidx
Integradora/.vs/Integradora/FileContentIndex/88206760-6f39-4373-8922-ccb22a1c29e9.vsidx
Integradora/.vs/Integradora/FileContentIndex/cb022360-d974-47c9-8a8a-025a6b6bbd83.vsidx
Integradora/.vs/Integradora/FileContentIndex/b27ba5c0-a4d9-45f4-9883-99cec36329ab.vsidx
Integradora/.vs/Integradora/FileContentIndex/e243852d-610d-491b-a327-9a2db1dd2ae9.vsidx
Integradora/.vs/Integradora/v17/ResourceExplorer/settings.json
Integradora/.vs/Integrator/FileContentIndex/02557522-c9a2-44bb-a4ae-364329cf0ff3.vsidx
Integradora/.vs/Integrator/FileContentIndex/7889ff26-cf4a-4cb3-b101-f6ec8d809599.vsidx
Integradora/.vs/Integrator/DesignTimeBuild/.dtbcache.v2
Integradora/.vs/Integrator/FileContentIndex/c0c38ad7-4079-49fa-a481-1291ea18a00d.vsidx
